

body {
    background-color: #fff;
    color: #444;
}


a, button {outline: none;} /* Убираем границу вокруг ссылок  */


.blue {color: #3490dc;}


.center{text-align:center;}
.ta_l{text-align: left;}
.ta_r{text-align: right !important;}
.ta_c{text-align: center;}
.ta_j{text-align: justify;}



.author {
    color: #aaa;
}


#app .shadow-sm {
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    background-color: #fff !important;
}
#app .shadow-sm a{
    color: rgba(0,0,0,.7);
}

ol.m0 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}




table.blue_table{width:100%;}
table.blue_table tr, table.blue_table tr th, table.blue_table tr td{border:1px solid #ddd;font-size:16px;}
table.blue_table tr{background-color:#fff;}
table.blue_table tr:nth-child(odd){background-color:#f7f7f7;}
table.blue_table tr td{padding:5px;text-align:center;}
table.blue_table tr.center td{text-align:center;}
table.blue_table tr th{padding:10px;background-color:#f7f7f7;color:#3490dc;font-style:oblique;font-weight:400;text-align:center;}
table.blue_table tr td.ta_l{text-align: left;}
table.blue_table tr td.row {
    border: 0px solid #ddd;
}

table.blue_table td.description {text-align: left;}
